
h1{
    text-align: center;
}
.container{
    width: 50%;
    margin: auto;
}
.images{
    
    
    background-image: url("/images/sharon-mccutcheon-62vi3TG5EDg-unsplash.jpg");
    background-size: 1370px 700px;
    background-repeat: no-repeat;
}
.row1{
    text-align: center;
    color: whitesmoke;
}
.row2{
    padding-left: 34rem;
    padding-top: 1rem;
    color: whitesmoke;
}
.row3{
    padding-left: 34rem;
    padding-top: 1rem;
    color: whitesmoke;
}
.header{
    color:whitesmoke;
}

   

#output-box{
    float: up;
}
.image{
    background-image: url("/images/bob-ghost-ZmLXBRfjSpo-unsplash.jpg");
    background-size: 1370px 700px;
    background-repeat: no-repeat;

}
label{
    width: 2rem;
}